/* -------------------------------------------------
** Extra Small Footer
** ---------------------------------------------- */
footer#layout-footer {
	background-color: white;
	background-color: rgba(255, 255, 255, 0.9);
	margin: 0 -3%;
	border-top: 1px solid #ccc;
	bottom: 0;
	box-shadow: 0 -1px 3px #ccc;
	font-family: Helvetica, Arial, sans-serif;
	padding: 1em;
	position: fixed;
	width: 100%;

	@include media($small) {
		padding: 1em 2em;
	}
	.extra-small-logo {
		display: none;
		float: left;

		@include media($small) {
			display: block;
			margin-right: 0;
			width: 100%;
			height: auto;
			max-width: 96px;
		}
	}
	.title {
		float: left;
		width: 65%;

		@include media($small) {
			width: auto;
		}
		h1, h2 {
			color: #555;
			font-family: Helvetica, Arial, sans-serif;
			font-size: .875em;
			line-height: 1;
			margin: 0;
			padding: 0;
		}
		h1 {
			margin-bottom: .5em;

			@include media($small) {
				border-left: 1px solid #ccc;
				float: left;
				font-size: 1em;
				margin: 0.5em 1em 0;
				padding-left: 1em;
			}
		}
		h2 {
			font-style: italic;

			@include media($small) {
				float: left;
				font-size: 1em;
				margin-top: .5em;
			}
		}
		.fade {
			margin-left: 0.1em;
			color: #888888;
			font-style: italic;
		}
	}
	nav {
		float: right;
		font-size: .75em;
		width: 35%;

		@include media($small) {
			float: right;
			width: auto;
		}
		li {
			float: right;

			@include media($small) {
				margin-left: 1em;
				margin-right: 0;
			}
		}
		a {
			text-decoration: none;
			color: #333333;
			line-height: 1.6em;

			&:hover, &:focus {
				color: black;
			}
		}
		.arrows {
			font-size: 2.5em;
			margin-left: 18px;
			position: relative;
			top: 8px;
		}
	}
}